
.cards {
  transition: transform 0.2s; /* Add a smooth transition for the transform property */
  transition: box-shadow 0.2s;
}

.cards:hover {
  transform: scale(1.01); /* Enlarge the card on hover */
  box-shadow: 3px 3px 2px rgb(199, 197, 197);
}
